.header {
    height: 45vh;
    background-image: url("https://cdn.pixabay.com/photo/2019/11/23/04/52/matrix-4646234_960_720.jpg");
    background-size: cover;
  }
  body{
    background: rgba(238, 238, 238, 0.986);
  }

  p {
    font-size: 18px;
    font-style: oblique;
  }
  
  .icono {
    font-size: 48px;
    padding-left: 2rem;
  }
  
  .icono:hover {
    transform: scale(1.5) rotate(-10deg);
    transition-duration: 400ms;
    opacity: 0.9;
    transition-timing-function: ease-in-out;
  }
  
  .imagen {
    width: 200px;
    height: auto;
    border-radius: 5px;
    transition-duration: 1s;
    transition-timing-function: linear;
    filter: grayscale();
    -webkit-filter: grayscale(50%);
  }
  
  hr{
    background-color: black;
    border: none;
    height: 1px;
  }

  
  .imagen:hover {
    transform: scale(2);
    transition-duration: 20s;
    opacity: 0.5;
    transition-timing-function: ease-in;
  }
  
  .frase-texto {
    color: black;
    font-size: 32px;
  }
  
  .frase {
    background: #8b5c67;
    height: auto;
  }
  
  nav {
    position: fixed;
  }
  
  .footer {
    background: rgb(68, 67, 67);
    color: rgb(237, 237, 245);
  }
  textarea {
    resize: none;
  }
