body, html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background:#262d3d;
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
/* no scollbar */
    overflow: hidden;
}
.form-box{
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;

}
.form-title{
    color:#fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #262d3d;
    width: 200px;
    outline: none;
    color: aliceblue;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
    width: 280px;
    border-color: #ffff;

}

.form-box button[type="submit"] {
    border: 0;
    background: rgb(25, 25, 102);
    cursor: pointer;
    border: 2px solid rgb(25, 25, 102);
    transition: 0.25s;
}

.form-box button[type="submit"]:hover {
    background: none;
}