*{ 
    padding: 0;
    margin: 0;
}

#menunav{
    background: rgb(0, 0, 0);
    text-align: end;
}
#menunav a{
    color: seashell;
    padding: 0 10px;
    line-height: 55px;

}


#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background:#151719 ;
    left: -200px;
    transition: all 500ml linear ;
}
#sidebar.active{
    left: 0;

}

#sidebar ul li {
    color: rgba(230, 230, 230, .9);
    text-align: center;
    padding: 15px 10px;
    border-bottom: 2px solid rgba(100, 100, 100, .5);
    cursor: pointer;
    text-decoration: none;
}

.logo {
    border-radius: 50%;
    display: block;
    /* para que este centrado */
    margin: 0 auto;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}

#sidebar .toggle-btn span{
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #000;
}
