*{
    box-sizing: border-box;
}
body{
    background:rgb(1, 1, 17);
    color: #ffffff;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    padding: 0.15em;
}

.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

}
ul{
    list-style: none;
    padding: 0;
}
.logo{
    text-align: center;
    font-size: 3m;
}
.logo span{
    color:red;
}

.contact-wrapper{
    box-shadow: 0 0 20px rgb(245, 234, 234) ;
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;

}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}
.contact-form form label {
    display: block;
}

.contact-form form .block {
    grid-column: 1 / 3 ;
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: none;
    color: #ffff;
    border-bottom: 1px solid #d63031;

}
.contact-form form button{
    background: red;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: rgb(245, 234, 234);
    transition: background-color 1s ease-out;
    outline: 0;
    cursor: pointer;
}
.contact-info{

    background: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;

}

.contact-info ul {
    list-style: none;
    padding: 0;
}
 .contact-info ul li {
    padding: .3rem;
 }

 /* large scream */
@media(min-width: 700px) {
    body {
        padding: 2 4rem;
    }
    contact-wraper {
        display: grid;
        grid-template-columns: 2fr 1fr;

    }
    .contact-form > * {
        padding: 2rem;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 1rem;
        text-align: left;
    }
}
